.top-menu {
  background: linear-gradient(270deg, #26a987, #2d79d0, #309d81);
  background-size: 300% 300%;
  display: flex;
  font-size: 13px;
  padding: 0 48px;
  position: relative;
}

.top-menu .search-panel {
  margin-left: 20px;
}

.top-menu .search-panel input {
  background: hsla(164, 65%, 41%, 0) !important;
  color: hsla(164, 65%, 41%, 0) !important;
  width: 235px;
  padding: 5px;
}

.top-menu .search-panel .search.icon {
  color: black;
  padding-top: 1px;
}

.top-menu .search-panel input::placeholder {
  color: black !important;
  opacity: 0.5 !important;
  font-weight: 800;
  letter-spacing: 0.5px;
}

.top-menu .search-panel input:hover::placeholder {
  opacity: 0.8 !important;
}

.top-menu .search-panel input:focus::placeholder {
  color: black !important;
}

.top-menu .search-panel input:focus {
  background: white !important;
  color: black !important;
  width: 235px;
}

.top-menu .left {
  display: flex;
  width: 50%;
}

.top-menu .right {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  align-items: center;
}

.top-menu .brand {
  cursor: pointer;
  font-size: 18px;
  padding: 16px 16px 0 0;
}

.top-menu ul li {
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.8em;
  margin-left: 0;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
}

.top-menu .selected {
  color: rgba(255, 255, 255, 1);
}

.top-menu .user-auth-control {
  margin: 8px;
  position: relative;
}

.top-menu .user-auth-control button,
.top-menu .user-auth-control .acct {
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  padding: 7px 24px;
  margin: 0;
  text-transform: uppercase;
}

.top-menu .user-auth-control .address {
  display: none;
}

.top-menu .user-auth-control .acct-links {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 16px;
  right: 0;
  width: 200px;
}

.acct-links ul {
  margin: 0;
  padding: 0;
}
